langchain
python-dotenv
langchain-openai
ipykernel
#beautifulsoup4
langchain_community
faiss-cpu
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_chroma
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-core
langchain-classic
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
tools
langchainhub